body{
    background: url("../images/14547779_rm222-mind-14.svg");
    background-size: cover;
    background-repeat: repeat;
}

.container .table-container{
    max-height: 750px;
    overflow: auto;
}