<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.css" />
    <title>Database Viewer</title>
</head>
<body>
    <form id="dataForm" action="/admin/adminbdd/save" method="post" th:action="@{/admin/adminbdd/save}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <table id="dataTable">
            <thead>
                <tr>
                    <th th:each="column : ${columns}" th:text="${column}"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="row, rowIndex : ${rows}">
                    <td th:each="column : ${columns}">
                        <input 
                            type="text"
                            th:with="index=${rowIndex.index}"
                            th:name="${index} + '_' + ${column}"
                            th:value="${row.get(column)}"
                            th:readonly="${column == 'RADICADO'}" >
                    </td>
                </tr>
            </tbody> 
        </table>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</body>
</html>
